.body {
    margin: 0 50px;
    padding: 7% 0;
}

.main_container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.main_container h2 {
    font-size: 18px;
    margin-bottom: 14px;
}

.sections {
    height: 100%;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.sections div {
    margin: 14px 0;
}

.sections h1 {
    font-size: 24px;
}

.title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 14px;
}

.mentor_card {
    background-color: #ffffff;
    border-radius: 15px;
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.avatar {
    border: solid 3px #fed049 !important;
    border-radius: 50%;
}

.image_box {
    display: flex;
    align-items: center;
}

.crown {
    margin-left: 10px;
}

.super {
    background-color: #86BDC3;
    scale: 1.1;
}

.card_container {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    align-items: center;

}

@media (max-width: 1000px) {

    .body {
        margin: 0;
    }

    .main_container {
        padding: 10px;
        flex-direction: column;
        margin: 10px;
    }

    .sections {
        margin-left: 0;
    }
}